dj-database-url==2.1.0
Django>=3.2
django-admin-soft-dashboard==1.0.12
django-cors-headers==4.1.0
django-extensions==3.2.3
djangorestframework==3.14.0
gunicorn==21.2.0
json5==0.9.5
openai==0.28.1
pathlib==1.0.1
pipenv==2023.10.3
pkginfo==1.5.0
python-dotenv==0.21.1
shap==0.30.1
virtualenv==20.24.6
